<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile | Manage Account</title>
    <link rel="stylesheet" href="/assets/css/posts.css">
</head>
<body>
    {{if eq .ImageUrl "https://i.pinimg.com/474x/63/bc/94/63bc9469cae29b897565a08f0647db3c.jpg"}}
        <img id="profilePicture" alt="Profile Picture" width="400px" src="{{.ImageUrl}}">
    {{else}}
        <img id="profilePicture" alt="Profile Picture" width="400px" src="../../{{.ImageUrl}}">
    {{end}}
    
    <h1>{{.Username}}</h1>
    <h2>Subscribed Categories : {{.NumberofSubscribedCategories}}</h2>
    <h2>Sign up : {{.CreationDate}}</h2>

    <div>
        <button onclick="location.href='/home'">Home</button>
        <button onclick="location.href='/user/{{.Username}}'">Posts</button>
        <button onclick="location.href='/user/{{.Username}}/liked'">Liked</button>
        <button onclick="location.href='/user/{{.Username}}/disliked'">Disliked</button>
        <button onclick="location.href='/user/{{.Username}}/comments'">Comments</button>
        <button onclick="location.href='/user/{{.Username}}/savedposts'">Saved Posts</button>
        {{if .IsSameAccount}}
        <button onclick="location.href='/user/{{.Username}}/account'">Manage Account</button>
        {{end}}
    </div>

    <h3>Email: {{.Email}}</h3>

    <form action="/PfpImageForm" method="post" enctype="multipart/form-data">
        <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
        <input type="submit" value="Upload Image" name="submit">
    </form>

    <form action="/ChangePwForm" method="post">
        <label for="oldPw">Old Password:</label><br>
        <input type="password" id="oldPw" name="oldPw" placeholder="Old Password"><br>
        <label for="newPw">New Password:</label><br>
        <input type="password" id="newPw" name="newPw" placeholder="New Password"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>