<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile | Comments</title>
    <link rel="stylesheet" href="/assets/css/posts.css">
</head>
<body>
    <img id="profilePicture" alt="Profile Picture" width="400px" src="{{.ImageUrl}}">
    
    <h1>{{.Username}}</h1>
    <h2>Subscribed Categories : {{.NumberofSubscribedCategories}}</h2>
    <h2>Sign up : {{.CreationDate}}</h2>

    <div>
        <button onclick="location.href='/home'">Home</button>
        <button onclick="location.href='/user/{{.Username}}'">Posts</button>
        <button onclick="location.href='/user/{{.Username}}/liked'">Liked</button>
        <button onclick="location.href='/user/{{.Username}}/disliked'">Disliked</button>
        <button onclick="location.href='/user/{{.Username}}/comments'">Comments</button>
        <button onclick="location.href='/user/{{.Username}}/savedposts'">Saved Posts</button>
        {{if .IsSameAccount}}
        <button onclick="location.href='/user/{{.Username}}/account'">Manage Account</button>
        {{end}}
    </div>

    <h1>Comments :</h1>
    <div id="posts" style="background-color: beige;">
        {{range .MyComments}}
        <div class="post">
            <form action="/category/{{.CategoryID}}" method="post">
                <img id="profilePicture" alt="Profile Picture" width="40px" src="{{.CategoryImageUrl}}">
                <input type="submit" value="{{.CategoryName}}">
            </form>

            <form action="/user/{{.AccountUsername}}" method="post">
                <img id="profilePicture" alt="Account Image" width="40px" src="{{.AccountImageUrl}}">
                <input type="submit" value="{{.AccountUsername}}">
            </form>

            <h2>{{.Title}}</h2>
            <p>{{.Content}}</p>
            {{if ne .ImageUrl ""}}
            <img src="{{.ImageUrl}}" alt="Post Image">
            {{end}}
            <div class="post-info">
                <form action="/likeform" method="post">
                    <input type="hidden" id="LikeID" name="LikeID" value="{{.PostID}}">
                    <input type="submit" value="Likes :{{.Likes}}">
                </form>
                <form action="/dislikeform" method="post">
                    <input type="hidden" id="DislikeID" name="DislikeID" value="{{.PostID}}">
                    <input type="submit" value="Dislikes :{{.Dislikes}}">
                </form>
            </div>
            <span>Posted on: {{.CreationDate}}</span>
            <div>
                <span><img src="assets/img/icon/view.png" alt="view icon" width="80px"> {{.View}}</span>
            </div>
            <form action="/addviewform" method="post">
                <input type="hidden" id="PostID" name="PostID" value="{{.PostID}}">
                <input type="submit" value="Add View">
            </form>
        </div>
        {{end}}

</body>
</html>