<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile | Disliked Posts</title>
    <link rel="stylesheet" href="/assets/css/posts.css">
</head>
<body>
    <img id="profilePicture" alt="Profile Picture" width="400px" src="../../{{.ImageUrl}}">
    
    <h1>{{.Username}}</h1>
    <h2>Subscribed Categories : {{.NumberofSubscribedCategories}}</h2>
    <h2>Sign up : {{.CreationDate}}</h2>

    <div>
        <button class="buttonn" onclick="location.href='/home'">Home</button>
        <button class="buttonn" onclick="location.href='/user/{{.Username}}'">Posts</button>
        <button class="buttonn" onclick="location.href='/user/{{.Username}}/liked'">Liked</button>
        <button class="buttonn" onclick="location.href='/user/{{.Username}}/disliked'">Disliked</button>
        <button class="buttonn" onclick="location.href='/user/{{.Username}}/comments'">Comments</button>
        <button class="buttonn" onclick="location.href='/user/{{.Username}}/savedposts'">Saved Posts</button>
        {{if .IsSameAccount}}
        <button class="buttonn" onclick="location.href='/user/{{.Username}}/account'">Manage Account</button>
        {{end}}
        {{if .IsAdmin}}
        <button class="buttonn" onclick="location.href='/admin'">Admin Panel</button>
        {{end}}
    </div>


    <h1>Disiked Posts :</h1>
    <div id="posts" style="background-color: beige;">
        {{range .LikedPosts}}
        <div class="post">
            <form action="/category/{{.CategoryID}}" method="post">
                <img id="profilePicture" alt="Profile Picture" width="40px" src="{{.CategoryImageUrl}}">
                <input type="submit" value="{{.CategoryName}}">
            </form>

            <form action="/user/{{.AccountUsername}}" method="post">
                <img id="profilePicture" alt="Account Image" width="40px" src="../../{{.AccountImageUrl}}">
                <input type="submit" value="{{.AccountUsername}}">
            </form>

            <h2>{{.Title}}</h2>
            <p>{{.Content}}</p>
            {{if ne .ImageUrl ""}}
            <img src="../../{{.ImageUrl}}" alt="Post Image" width="400px">
            {{end}}
            <div class="post-info">
                <form action="/postlikeform" method="post">
                    <input type="hidden" id="LikeID" name="LikeID" value="{{.PostID}}">
                    <input type="submit" value="Likes :{{.Likes}}">
                </form>
                <form action="/postdislikeform" method="post">
                    <input type="hidden" id="DislikeID" name="DislikeID" value="{{.PostID}}">
                    <input type="submit" value="Dislikes :{{.Dislikes}}">
                </form>
            </div>
            <div>
                <span><img src="../../assets/img/icon/view.png" alt="view icon" width="50px"> {{.View}}</span>
                <a href="/post/{{.PostID}}"><img src="../../assets/img/icon/comment.png" alt="Comment Icon" width="40px"> {{.Responses}}</a>
            </div>
            <div>
                <form action="/addviewform" method="post">
                    <input type="hidden" id="PostID" name="PostID" value="{{.PostID}}">
                    <input type="image" src="../../assets/img/icon/more.png" alt="More of this Post" width="40px">
                </form>
            </div>
            <span>Posted on: {{.CreationDate}}</span>
        </div>
        {{end}}
    </div>

</body>
</html>