*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accountgrid-container {
    display: grid;
    grid-gap: 10px;
}

.accountgrid {
    background-color: #0e5a29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: wheat;
    padding: 10px;
    text-align: center;
    border: 5px solid wheat;
    /* height: 100%;  */
    width: 100%; 
    box-sizing: border-box;
    border-radius: 15px;
}