
body {
    --color-text: #111;
    --color-bg: #f8ecde;
    /* --color-link: #b19e7f;
    --color-link-hover: #000; */
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sofia-pro, sans-serif;
}





.navbar {
	display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    width: 100%;
    height: 90px;
    /* background-color: rgb(0, 0, 0);  */
    color: #000000;
    
    -webkit-text-stroke: 1.5px #000;
	-webkit-text-fill-color: transparent;
    font-size: 24px;
	
} 


.navbars {
	display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 25%;
}

.grid {
    height: 500px;
    width: 100%;
}

.gauche {
    height: 1000px;
    width: 22%;
    border: solid 1px black;
    /* background-color: rgb(0, 0, 0); */
}

.mid {
    height: 500px;
    width: 52%;
    /* background-color: aqua; */
	border-top: solid 1px black;
}


.droite {
    height: 1000px;
    width: 28%;
    /* background-color: rgb(163, 211, 211); */
    display: flex;
    align-items: center;
    justify-content: center;
	border-top: solid 1px black;
}


.grid {

	display: flex;
	justify-content: center;

}

.Cate {
    margin-top: 10px;
    display: flex ;
    justify-content: center;
	-webkit-text-stroke: 1.5px #000;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;

}





/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}

.indentiferror {
	display: flex;
	justify-content: center;
	color: red;
}

