<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/categories.css">
    <link rel="stylesheet" href="/assets/css/posts.css">
</head> 
<div class="navbar">
    <div> <h1> HOME </h1> </div>
    {{if ne .Username "Guest"}}
        <div class="navbars">
            
            <button onclick="location.href='/user/{{.Username}}'">{{.Username}}</button>

            <img id="profilePicture" alt="Profile Picture" width="px" src="{{.ImageUrl}}">

            <button onclick="location.href='/logoutform'" style="background: none;"> <img src="/assets/img/icon/logout.png" alt="Logout Icon" width="50px"> </button>
            

        </div>
    {{else}}
        <div class="navbars">
            <h1>Guest</h1>
            <img id="profilePicture" alt="Profile Picture" width="px" src="{{.ImageUrl}}" >

            <button onclick="location.href='/'"><h1 class="settings" id="openMenu" onclick.href="/">LOGIN</h1>  </button>
        </div>
    {{end}}
</div>
                 
    <div class="grid">
        <div class="gauche">
            <main>
                {{if ne .Username "Guest"}}
                <h1 class="Cate" onclick="toggleFormcate()">CREATE A NEW CATEGORY</h1>
                {{else}}
                <h1 class="Cate" onclick="location.href='/'">LOG IN TO CREATE A CATEGORY</h1>
                {{end}}
    
                <div id="createcate" class="popup">
                    <div class="popup-content">
                        <span class="close" onclick="toggleFormcate()">&times;</span>
                        <h2>Create a New Category</h2>
                        <form action="/createcategoryform" method="post" enctype="multipart/form-data">
                            <label for="categoryName">Category Name:</label>
                            <input   class="input"  class="input" type="text" id="categoryName" name="categoryName" required>

                            <br>
                            <br>
                            <br>
                    
                            <label for="description">Category Description:</label>
                            <input class="input" type="text" id="description" name="description" required>
                            <br>
                            <br>
                            <br>
                    
                            <label for="postimage">Image:</label>
                            <input type="file" id="postimage" name="postimage" accept="image/*">
                    
                    
                            <label for="tags">Select or Enter Tags:</label>
                            <select id="existingTags" name="existingTags[]" multiple>
                                {{range .ExistingTags}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                            <input class="input" type="text" id="newTags" name="newTags" placeholder="Enter new tags separated by commas">
                    
                            <button type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </main>

            
            
            <a class="Cate ">FAVORITES CATEGORIES </a>
            <main>
                <div class="frame">
                    <div class="frame__title-wrap">
                </div>
                <nav class="menu">
                    {{range .FavoritesCategories}}
                    <a href="/category/{{.CategoryID}}" class="menu__item">
                        <div>
                            <span class="menu__item-link">{{.Title}}</span>
                            <img class="menu__item-img" src="{{.ImageUrl}}" alt="Image for {{.Title}}"/>
                            <div class="marquee">
                                <div class="marquee__inner" aria-hidden="true">
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </nav>
            </main>
            
            <a class="Cate ">ALL CATEGORIES</a>
            <main>
                <div class="frame">
                    <div class="frame__title-wrap">
                </div>
                <nav class="menu">
                    {{range .AllCategories}}
                    <a href="/category/{{.CategoryID}}" class="menu__item">
                        <div>
                            <span class="menu__item-link">{{.Title}}</span>
                            <img class="menu__item-img" src="{{.ImageUrl}}" alt="Image for {{.Title}}"/>
                            <div class="marquee">
                                <div class="marquee__inner" aria-hidden="true">
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </nav>
            </main>

        </div>
              
        <div class="mid">
            {{if ne .Username "Guest"}}
            <h1 class="Cate" onclick="toggleForm()">CREATE A NEW POST</h1>
            {{else}}
            <h1 class="Cate" onclick="location.href='/'">LOG IN TO CREATE A POST</h1>
            {{end}}
            
            <div id="createpost" style="display: none;">
                <form action="/createpostform" method="post" enctype="multipart/form-data" class="create-post-form">
                    <label for="categoryName">Category Title:</label>
                    <select id="categoryName" name="categoryName" required>
                        {{range .AllCategories}}
                        <option value="{{.Title}}">{{.Title}}</option>
                        {{end}}
                    </select>
        
                    <label for="title">Title:</label>
                    <input  class="input" type="text" id="title" name="title" required>
        
                    <label for="content">Content:</label>
                    <textarea  class="input" id="content" name="content" required></textarea>
        
                    <label for="postimage">Image (optional):</label>
                    <input  type="file" id="postimage" name="postimage" accept="image/*">
        
                    <button type="submit" class="btn">Post</button>
                </form>
            </div>


            <h1 class="Cate "> FOR YOU </h1>
            <div id="posts" style="background-color: rgba(0, 0, 0, 0);">
                {{range .AllPosts}}
                <div class="post">
                    <div class="profile-category">
                        <form action="/category/{{.CategoryID}}" method="post">
                            <img class="profile-picture" alt="Profile Picture" width="40px" src="{{.CategoryImageUrl}}">
                            <input type="submit" value="{{.CategoryName}}">
                        </form>
                
                        <form action="/user/{{.AccountUsername}}" method="post">
                            <img class="profile-picture" alt="Account Image" width="40px" src="{{.AccountImageUrl}}">
                            <input type="submit" value="{{.AccountUsername}}">
                        </form>
                    </div>
                   <div class="text">
                    <h2>{{.Title}}</h2>
                    <p>{{.Content}}</p>
                    {{if ne .ImageUrl ""}}
                    <img src="{{.ImageUrl}}" alt="Post Image" width="200px" height="20px"> 
                    {{end}}
                </div> 
                    <div class="post-info">
                        <form action="/postlikeform" method="post">
                            <input type="hidden" id="LikeID" name="LikeID" value="{{.PostID}}">
                            <input type="submit" value="Likes :{{.Likes}}">
                        </form>
                        <form action="/postdislikeform" method="post">
                            <input type="hidden" id="DislikeID" name="DislikeID" value="{{.PostID}}">
                            <input type="submit" value="Dislikes :{{.Dislikes}}">
                        </form>
                    </div>
                    <div class="post-details">

                        <span><img src="assets/img/icon/view.png" class="imag" alt="view icon" width="50px"> {{.View}}</span>
                        <a href="/post/{{.PostID}}"><img src="assets/img/icon/comment.png" alt="Comment Icon" width="40px"> {{.Responses}}</a>
                        <form action="/reportedPostsForm" method="post">
                            <input type="hidden" id="PostID" name="PostID" value="{{.PostID}}">
                            <input type="image" src="assets/img/icon/report.png" alt="Report this Post" width="40px">
                            <p>Report</p>
                        </form>
                        <form action="/addviewform" method="post">
                            <input type="hidden" id="PostID" name="PostID" value="{{.PostID}}">
                            <input type="image" src="assets/img/icon/more.png" alt="More of this Post" width="40px">
                        </form>
                        <span>Posted on: {{.CreationDate}}</span>
                        
                    </div>
                </div>
                {{end}}
            </div>
        </div>


<div class="droite">
        <form id="sortForm" action="/sortinghomeform" method="post" class="menus">
            <input type="hidden" id="iscategory" name="iscategory" value="false" class="menu__items">
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Date Descending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Date Descending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Date Descending</span>
                            <span>By Date Descending</span>
                            <span>By Date Descending</span>
                            <span>By Date Descending</span>
                            <span>By Date Descending</span>
                            <span>By Date Descending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Date Ascending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Date Ascending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Date Ascending</span>
                            <span>By Date Ascending</span>
                            <span>By Date Ascending</span>
                            <span>By Date Ascending</span>
                            <span>By Date Ascending</span>
                            <span>By Date Ascending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Likes Descending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Likes Descending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Likes Descending</span>
                            <span>By Likes Descending</span>
                            <span>By Likes Descending</span>
                            <span>By Likes Descending</span>
                            <span>By Likes Descending</span>
                            <span>By Likes Descending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Likes Ascending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Likes Ascending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Likes Ascending</span>
                            <span>By Likes Ascending</span>
                            <span>By Likes Ascending</span>
                            <span>By Likes Ascending</span>
                            <span>By Likes Ascending</span>
                            <span>By Likes Ascending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Views Ascending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Views Descending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Views Descending</span>
                            <span>By Views Descending</span>
                            <span>By Views Descending</span>
                            <span>By Views Descending</span>
                            <span>By Views Descending</span>
                            <span>By Views Descending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Views Descending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Views Ascending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Views Ascending</span>
                            <span>By Views Ascending</span>
                            <span>By Views Ascending</span>
                            <span>By Views Ascending</span>
                            <span>By Views Ascending</span>
                            <span>By Views Ascending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Responses Ascending" class="menu__items">
                <div>
                    <span class="menu__items-link">By Responses Descending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Responses Descending</span>
                            <span>By Responses Descending</span>
                            <span>By Responses Descending</span>
                            <span>By Responses Descending</span>
                            <span>By Responses Descending</span>
                            <span>By Responses Descending</span>
                        </div>
                    </div>
                </div>
            </button>
            <button type="submit" id="sortingMethod" name="sortingMethod" value="By Responses Descending" class="menu__item">
                <div>
                    <span class="menu__item-link">By Responses Ascending</span>
                    <div class="marquee">
                        <div class="marquee__inner" aria-hidden="true">
                            <span>By Responses Ascending</span>
                            <span>By Responses Ascending</span>
                            <span>By Responses Ascending</span>
                            <span>By Responses Ascending</span>
                            <span>By Responses Ascending</span>
                            <span>By Responses Ascending</span>
                        </div>
                    </div>
                </div>
            </button>
        </form>
<form id="sortForm" action="/sortinghomeform" method="post" class="menu">
    <input type="hidden" id="sortingMethod" name="sortingMethod" value="By Categories">
    <input type="hidden" id="iscategory" name="iscategory" value="true">
    <label for="categoryName" class="menu__item-label">Category Title:</label>
    <select id="categoryName" name="categoryName" class="menu__item-select" required>
        {{range .AllCategories}}
        <option value="{{.Title}}">{{.Title}}</option>
        {{end}}
    </select>
    <button type="submit" class="menu__item">
        <div class="menu__item-content">
            <span class="menu__item-link">Filter by Category</span>
            <div class="marquee">
                <div class="marquee__inner" aria-hidden="true">
                    <span>Filter by Category</span>
                    <span>Filter by Category</span>
                    <span>Filter by Category</span>
                    <span>Filter by Category</span>
                    <span>Filter by Category</span>
                    <span>Filter by Category</span>
                </div>
            </div>
        </div>
    </button>  
</form>
      
            
        </div> 
    </div>
</div> 
</div>  
    
    <script src="/assets/js/"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/settings.js"></script>

</html>