<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/caroussel.css">
    <link rel="stylesheet" href="/assets/css/categories.css">
    <link rel="stylesheet" href="/assets/css/posts.css">
</head> 

    <div class="navbar">
            <div> <h1> HOME </h1> </div>
             <div class="navbars">
                <h1 class="settings" id="openMenu">LOGIN</h1> 
                <button onclick="location.href='/myprofile'">{{.ConnectedAccount.Username}}</button>
                <img id="profilePicture" alt="Profile Picture" width="px" src="{{.ConnectedAccount.ImageUrl}}">
             </div> 
             
                 
    </div>
    <div class="grid">
        <div class="gauche">
            <a class="Cate ">FAVORITES CATEGORIES </a>
            <main>
                <div class="frame">
                    <div class="frame__title-wrap">
                </div>
                <nav class="menu">
                    {{range .FavoritesCategories}}
                    <a href="/category/{{.CategoryID}}" class="menu__item">
                        <div>
                            <span class="menu__item-link">{{.Title}}</span>
                            <img class="menu__item-img" src="{{.ImageUrl}}" alt="Image for {{.Title}}"/>
                            <div class="marquee">
                                <div class="marquee__inner" aria-hidden="true">
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </nav>
            </main>
            
            <a class="Cate ">ALL CATEGORIES</a>
            <main>
                <div class="frame">
                    <div class="frame__title-wrap">
                </div>
                <nav class="menu">
                    {{range .AllCategories}}
                    <a href="/category/{{.CategoryID}}" class="menu__item">
                        <div>
                            <span class="menu__item-link">{{.Title}}</span>
                            <img class="menu__item-img" src="{{.ImageUrl}}" alt="Image for {{.Title}}"/>
                            <div class="marquee">
                                <div class="marquee__inner" aria-hidden="true">
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                    <span>{{.Title}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </nav>


            </main>
        </div>
              
        <div class="mid">
            <h1 class="Cate "> FOR YOU </h1>
            <div id="posts" style="background-color: beige;">
                {{range .AllPosts}}
                <div class="post">
                    <form action="/category/{{.CategoryID}}" method="post">
                        <img id="profilePicture" alt="Profile Picture" width="40px" src="{{.CategoryImageUrl}}">
                        <input type="submit" value="{{.CategoryName}}">
                    </form>
        
                    <form action="/user/{{.AccountUsername}}" method="post">
                        <img id="profilePicture" alt="Account Image" width="40px" src="{{.AccountImageUrl}}">
                        <input type="submit" value="{{.AccountUsername}}">
                    </form>
        
                    <h2>{{.Title}}</h2>
                    <p>{{.Content}}</p>
                    {{if ne .ImageUrl ""}}
                    <img src="{{.ImageUrl}}" alt="Post Image">
                    {{end}}
                    <div class="post-info">
                        <form action="/likeform" method="post">
                            <input type="hidden" id="LikeID" name="LikeID" value="{{.PostID}}">
                            <input type="submit" value="Likes :{{.Likes}}">
                        </form>
                        <form action="/dislikeform" method="post">
                            <input type="hidden" id="DislikeID" name="DislikeID" value="{{.PostID}}">
                            <input type="submit" value="Dislikes :{{.Dislikes}}">
                        </form>
                        <span>Clicks: {{.View}}</span>
                    </div>
                    <span>Posted on: {{.CreationDate}}</span>
                </div>
                {{end}}
            </div>
        </div>



        <div class="droite">
            <h1 class="Cate "> TOP POSTS </h1>
            <div>

              </div>  
            </div> 
    </div>
</div> 

<body class="demo-1">
    
        


    



</body>    
 <div id="menu" class="menu-hidden" style="display: none;">
        <ul>
            <div login>
                <ul id="menu">
                    <div class="form-structor">
                        <div class="signup">
                            <form id="register" action="/signupform" method="post">
                                <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
                                <div class="form-holder">
                                    <input autocomplete="off" type="text" class="input" name="username" placeholder="Username" required/>
                                    <input autocomplete="off" type="email" class="input" name="email" placeholder="Email" required />
                                    <input autocomplete="off" type="password" class="input" name="pswrd" placeholder="Password" required />
                                </div>
                                <button class="submit-btn">Sign up</button>
                            </form>
                        </div>
                        <form id="login" action="/loginform" method="post">
                            <div class="login slide-up">
                                <div class="center">
                                    <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                                    <div class="form-holder">
                                        <input autocomplete="off" type="text" class="input" name="identif" placeholder="Email or Username" required />
                                        <input autocomplete="off" type="password" class="input" name="pswrd" placeholder="Password" required />
                                    </div>
                                    <button class="submit-btn">Log in</button>
                                
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </ul>
    </div> 
    <script src="/assets/js/"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/settings.js"></script>

</html>