<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/assets/css/posts.css">
</head>
<body>
    <button onclick="location.href='/home'">Home</button>

    <img id="profilePicture" alt="Profile Picture" width="400px" src="{{.ImageUrl}}">
    <p>{{.Username}}</p>
    <p>Sign up : {{.CreationDate}}</p>

    <h1>Likes Posts</h1>

    <div id="posts" style="background-color: beige;">
        {{range .LikedPosts}}
        <div class="post">
            <form action="/userprofileform" method="post">
                <img id="profilePicture" alt="Profile Picture" width="40px" src="{{.CategoryImageUrl}}">
                <input type="hidden" id="CategoryID" name="CategoryID" value="{{.CategoryID}}">
                <input type="submit" value="{{.CategoryName}}">
            </form>

            <form action="/userprofileform" method="post">
                <img id="profilePicture" alt="Profile Picture" width="40px" src="{{.AccountImageUrl}}">
                <input type="hidden" id="AccUsername" name="AccUsername" value="{{.AccountUsername}}">
                <input type="submit" value="{{.AccountUsername}}">
            </form>

            <h2>{{.Title}}</h2>
            <p>{{.Content}}</p>
            {{if ne .ImageUrl ""}}
            <img src="{{.ImageUrl}}" alt="Post Image">
            {{end}}
            <div class="post-info">
                <span>Likes: {{.Likes}}</span>
                <span>Dislikes: {{.Dislikes}}</span>
                <span>Views: {{.View}}</span>
            </div>
            <span>Posted on: {{.CreationDate}}</span>
        </div>
        {{end}}
    </div>

    <h1>Dislikes Posts</h1>

    <div id="posts">
        {{range .DisLikedPosts}}
        <div class="post">
            <h2>{{.Title}}</h2>
            <p>{{.Content}}</p>
            {{if ne .ImageUrl ""}}
            <img src="{{.ImageUrl}}" alt="Post Image">
            {{end}}
            <div class="post-info">
                <span>Likes: {{.Likes}}</span>
                <span>Dislikes: {{.Dislikes}}</span>
                <span>Views: {{.View}}</span>
                <span>Category: {{.CategoryName}}</span>
                <span>Posted by: {{.AccountUsername}}</span>
                <span>Created on: {{.CreationDate}}</span>
            </div>
        </div>
        {{end}}
    </div>

</body>
</html>